<audio controls autoplay>
  <source src="sounds/pokemon-theme.mp3" type="audio/mpeg">
</audio>

<main>
  <% @trainers.each do |trainer| %>
  <div class="pokemon">
    <img src="<%= trainer.img_url %>">
      <h2><%= trainer.name %></h2>
      <h3>Level: <%= trainer.level %></h3>
      <h3>Team: <%= trainer.team.name %></h3>
    
      <h5><a href="/trainers/<%= trainer.id %>/pokedex" class = "pokemon"><%= trainer.name %>'s Pokedex!</a></h5>
    <br/><br/>
    </div>
      <% end %>


</main>
